<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Le site des littératures de genre</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="../livres.html">Livres</a></li>
            <li><a href="../auteurs.html">Auteurs</a></li>
        </ul>
    </nav>
    <h1>%TITRE%</h1>

    <ul>
        <li><b>Auteur(s) : </b>%AUTEUR%</li>
        <li><b>Maison d'édition : </b>%EDITEUR%</li>
        <li><b>Année de publication : </b>%ANNEE%</li>
        <li><b>ISBN : </b>%ISBN%</li>
    </ul>
    <p><b>Quatrième de couverture : </b>%QCOUV%</p>
</body>

</html>